.azulsenado {
    color: #205c90;
}

#cadastrarVoluntario{
  display: none;
}

#adicionarInstituicao{
  display: none;
}

#novaInstituicao{
  display: none;
}

#form-widgets-outro{
  display: none;
}

#adicionarOutraInstituicao{
  display: none;
}

#cadastrarVoluntariado{
  display: none;
}

