.container
  .row
    .col-md-12
      h3.azulsenado Cadastrar Voluntariado
      .well
        #form-container.alert.alert-dismissible
          .form-group
            .row
              .col-md-12
                label Áreas de Interesse
                span.text-danger *
            .row

              .col-md-3
                +colcheck('Animais')
                +colcheck('Crianças')
                +colcheck('Desenvolvimento Comunitário')
              .col-md-3
                +colcheck('Questões de Gênero')
                +colcheck('Educação')
                +colcheck('Enfermos')
              .col-md-3
                +colcheck('Idosos')
                +colcheck('Meio Ambiente')
                +colcheck('Pessoas com Deficiência')
              .col-md-3
                +colcheck('População de Rua')
                +colcheck('Refugiados/imigrantes')
                +colcheck('Outros')
                  span.l-letter
                    input#form-widgets-outro.text-widget.required.textline-field.form-control(name='form.widgets.outro', value='', type='text')

          .form-group
            label Descrição das atividades que desempenha ou de interesse
            span
              textarea.form-control(rows='6', style='resize:none;')
          .row
            .col-md-6
              .form-group
                label(for='form-widgets-nome')
                  | Nome do Voluntariado
                  span.text-danger *
                span
                  input#form-widgets-nome.text-widget.required.textline-field.form-control(name='form.widgets.nome', value='', type='text')
            .col-md-6
              .form-group
                label(for='form-widgets-local-trabalho')
                  | Local de Trabalho
                  span.text-danger *
                span
                  input#form-widgets-local-trabalho.text-widget.required.textline-field.form-control(name='form.widgets.email',value='', type='text')
          .row
            .col-md-6
              .form-group
                label(for='form-widgets-telefone')
                  | Ramal
                  span.text-danger *
                span
                  input#form-widgets-ramal.text-widget.required.textline-field.form-control(name='form.widgets.ramal', value='', type='text')
            .col-md-6
              .form-group
                label(for='form-widgets-telefone') Telefone
                span
                  input#form-widgets-telefone.text-widget.textline-field.form-control(name='form.widgets.telefone', value='', type='text')
          .form-group
            label Já prestou algum serviço voluntário?
            span.l-pillar-xl
              label.radio-inline
                input#radioSim(type='radio', name='inlineRadioOptions', value='sim')
                |  Sim
              label.radio-inline
                input#radioNao(type='radio', name='inlineRadioOptions', value='nao')
                |  Não
              button.btn.btn-primary.hidden-xs.pull-right#adicionarInstituicao
                | Adicionar Instiuição
              button.btn.btn-primary.hidden-xs.pull-right#cadastrarVoluntario
                | Cadastrar-se
        #novaInstituicaoContainer
          #novaInstituicao.esconderNovaInstituicao.alert.alert-dismissible
            h3.azulsenado.l-letter Dados da Instituição
            .row
              .col-md-6
                .form-group
                  label(for='form-widgets-nome-instituicao')
                    | Nome
                    span.text-danger *
                  span
                    input#form-widgets-nome-instituicao.text-widget.required.textline-field.form-control(name='form.widgets.nome-instituicao', value='', type='text')
              .col-md-6
                .form-group
                  label(for='form-widgets-voluntario-desde-0') Voluntário desde
                  span
                    input#form-widgets-voluntario-desde-0.text-widget.textline-field.form-control(name='form.widgets.voluntario-desde', value='', type='text')
            .row
              .col-md-6
                .form-group
                  label(for='form-widgets-cidade')
                    | Cidade
                    span.text-danger *
                  span
                    input#form-widgets-cidade.text-widget.required.textline-field.form-control(name='form.widgets.cidade', value='', type='text')
              .col-md-6
                .form-group
                  label(for='form-widgets-estado') Estado
                  span
                    input#form-widgets-estado.text-widget.textline-field.form-control(name='form.widgets.estado', value='', type='text')
            .row
              .col-md-6
                .form-group
                  label(for='form-widgets-telefone')
                    | Telefone
                    span.text-danger *
                  span
                    input#form-widgets-telefone.text-widget.required.textline-field.form-control(name='form.widgets.telefone', value='', type='text')
              .col-md-6
                .form-group
                  label(for='form-widgets-email') E-mail
                  span
                    input#form-widgets-email.text-widget.textline-field.form-control(name='form.widgets.email', value='', type='text')

        .row
          .alert.alert-dismissible
            .col-md-10
              button.btn.btn-primary.hidden-xs.pull-right#adicionarOutraInstituicao
                | Adicionar Outra Instiuição
            .col-md-2
              button.btn.btn-primary.hidden-xs.pull-right#cadastrarVoluntariado
                | Cadastrar-se
