mixin colcheck(name)
  .checkbox.l-letter-sm
    label
      if name == 'Outros'
        #OutroInteresse
          input(type='checkbox')
          =  name
      else
        input(type='checkbox')
        =  name
