extends /design.shell/src/layout

block stylesheets
  link(rel="stylesheet" href="styles/vendors.css")
  link(rel="stylesheet" href="styles/main.css")


block content
  include pug/mixings
  include pug/content
  include pug/scripts
